<a href="javascript:;" id="resource">资源</a>

<script type="text/javascript">
    var resource = document.getElementById('resource');
    resource.onclick = function(){
        this.style.color = 'orange';
    }
</script>