<a href="javascript:;" id="course">课程</a>
<video src="video/v.mp4" controls></video>
<script type="text/javascript">
    var course = document.getElementById('course');
    course.onclick = function(){
        this.style.color = 'red';
    }
</script>